<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="oguogu">
	<!-- 회원관리 페이지 -->
	<sql id="getUserListSql">
		select		<!-- 조회 -->
		    *
		from user
		where DATE_FORMAT(initdate, '%Y-%m-%d')  between
		<choose>	<!--  조건 부분 -->
			<when test="startDate != null and startDate != ''">	<!-- 날짜 입력을 안하면 0001년부터   -->
				#{startDate} and 
			</when>
			<otherwise>
				'0001-01-01' and	<!-- 날짜 입력을 하면 9999년까지   -->
			</otherwise>
		</choose>
		<choose>
			<when test="endDate != null and endDate != ''">
				#{endDate} 
			</when>
			<otherwise>
				'9999-12-31'
			</otherwise>
		</choose>
		<if test="searchOption != null  and searchOption != ''">	<!-- 조건 선택을 하고 검색하는 부분 -->
			and ${searchOption} like concat('%',#{colVal},'%')
		</if>
		<if test="selectBoxAll != null and colVal != null">
			and
			<foreach collection="selectBoxAll" item="item"  separator="or" open="(" close=")">
				${item} like concat('%',#{colVal},'%')
			</foreach>
			</if>
		order by initdate desc
		
	</sql>
	<!-- 리스트 조회  -->
	<select id="userlist" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		<include refid="getUserListSql"/>
		 limit #{rowCnt} offset  #{offset}
	</select>
	
	<!-- 리스트 건수 -->
	<select id="userlistCnt" parameterType="java.util.HashMap" resultType="int">
		select
			count(*) as tot_cnt
		from(<include refid="getUserListSql"/>) a
	</select>
	
	<!-- 일반회원에서 신고회원으로 전환  -->
	<update id="setUserReport">
		update user
		set 
			type = 4,
			status = 1,
			enddate = CONVERT_TZ(NOW(), 'SYSTEM', '+09:00')
		where user_id in (
		<foreach collection="userIdList" item="item"  separator=",">
			#{item}
		</foreach>
		)
	</update>
	
	<!-- 관리자로 전환 -->
	<update id="setUserChangeManager">
		update user
		set 
			type = 0,
			status = 0,
			enddate = null
		where user_id in (
		<foreach collection="userIdList" item="item"  separator=",">
			#{item}
		</foreach>
		)
	</update>
	<!-- 회원관리 페이지 -->
	
	<!-- 탈퇴회원관리 페이지 -->
	<sql id="getDelUserListSql">
		select		<!-- 조회 -->
		    *
		from user
		where  status = 1
		and DATE_FORMAT(initdate, '%Y-%m-%d')  between
		<choose>	<!--  조건 부분 -->
			<when test="startDate != null and startDate != ''">	<!-- 날짜 입력을 안하면 0001년부터   -->
				#{startDate} and 
			</when>
			<otherwise>
				'0001-01-01' and	<!-- 날짜 입력을 하면 9999년까지   -->
			</otherwise>
		</choose>
		<choose>
			<when test="endDate != null and endDate != ''">
				#{endDate} 
			</when>
			<otherwise>
				'9999-12-31'
			</otherwise>
		</choose>
		<if test="searchOption != null  and searchOption != ''">	<!-- 조건 선택을 하고 검색하는 부분 -->
			and ${searchOption} like concat('%',#{colVal},'%')
		</if>
		<if test="selectBoxAll != null and selectBoxAll != ''">
			and
			<foreach collection="selectBoxAll" item="item"  separator="or" open="(" close=")">
				${item} like concat('%',#{colVal},'%')
			</foreach>
			</if>
		order by initdate desc
	</sql>
	
	<!-- 리스트 조회  -->
	<select id="deluserlist" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		<include refid="getDelUserListSql"/>
		 limit #{rowCnt} offset  #{offset}
	</select>
	
	<!-- 리스트 건수 -->
	<select id="deluserlistCnt" parameterType="java.util.HashMap" resultType="int">
		select
			count(*) as tot_cnt
		from(<include refid="getDelUserListSql"/>) a
	</select>
	<!-- 탈퇴회원관리 페이지 -->
	

	
</mapper>
