<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypage">
	
	<!-- 회원정보 수정 -->
	<update id="getUpdateMyInfo" parameterType="uvo">
		update user set nickname = #{nickname},user_fname = #{user_fname} where user_id = #{user_id}
	</update>
	
	<!-- 비밀번호 변경 -->
	<update id="getPwUpdate" parameterType="map">
		update user set pw = #{pw} where user_id = #{user_id} and status = 0
	</update>
	
	<!-- 회원 탈퇴 -->
	<update id="getRemoveUser" parameterType="String">
		update user set status = 1, enddate = sysdate() where user_id = #{user_id}
	</update>
	
	<!-- 좋아요 수 구하기 -->
	<select id="getMyEduFavHeart" parameterType="String" resultType="int">
		select count(*) from edu_heart_table where nickname = #{nickname}
	</select>
	
	<!-- 좋아요 목록 불러오기 -->
	<select id="getMyFavEdu" parameterType="String" resultType="evo">
		SELECT e.*
		FROM Education e
		JOIN edu_heart_table eh ON e.edu_idx = eh.edu_idx
		WHERE eh.heart = 1 and eh.nickname=#{nickname}
	</select>
	
	<!-- 작성글 있는지 확인 -->
	<select id="getmyWriteFind" parameterType="String" resultType="int">
		select count(*) from lounge where user_id = #{user_id} and status = 0
	</select>

	<!-- 작성글 불러오기 -->
	<select id="getmyWriteLounge" parameterType="map" resultType="lvo">
		SELECT * FROM lounge WHERE user_id = #{user_id} and status= 0 
		ORDER BY lo_date DESC limit #{limit, jdbcType=INTEGER} offset #{offset, jdbcType=INTEGER}
	</select>
	<!-- 게시글 댓글 수 구하기 -->
	<select id="getCommentCount" parameterType="String" resultType="int">
		select count(*) from lounge where lo_idx = #{lo_idx} and status = 0
	</select>
	<!-- 내가 쓴 댓글 수 -->
	<select id="getmyCommFind" parameterType="String" resultType="int">
		select count(*) from Comment where user_id = #{user_id} and status = 0
	</select>
	<!-- 내가 쓴 댓글 목록 불러오기 -->
	<select id="getmyComment" parameterType="map" resultType="cvo">
	    SELECT c.*, l.lo_type
	    FROM Comment c
	    JOIN lounge l ON c.lo_idx = l.lo_idx
	    WHERE c.user_id = #{user_id} AND c.status = 0
	    ORDER BY c.com_date DESC
	    LIMIT #{limit, jdbcType=INTEGER}
	    OFFSET #{offset, jdbcType=INTEGER}
	</select>
</mapper>









