<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/> <!-- MyBatis에서 쿼리에 매핑되는 파라미터에 Null값이 있는 경우 에러 발생 => 해결 -->
		<setting name="cacheEnabled" value="false"/> <!-- MyBatis cache 사용 여부 / 마이바티스 캐시는 사용 안할거야라는 뜻 -->
	</settings>
	
	<typeAliases><!-- 별칭/ com.ict.db.VO 같은 너낌 -->
		<typeAlias type="com.oguogu.user.model.vo.User_VO" alias="uvo"/>
		<typeAlias alias="evo" type="com.oguogu.education.model.vo.Education_VO"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/join-mapper.xml" />
		<mapper resource="mappers/edu-mapper.xml"/>
	</mappers>
	
</configuration>